@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body.main {
    font-family: 'Open Sans', sans-serif;
    color: rgb(104, 102, 102);
    padding: 0px;
    margin: 0px;
}


div.grid_container {
    background-color: rgb(221, 255, 255);
    width: 60%;
    height: 680px;
    margin:0 auto;
    padding: 30px;
    border: 1 solid;
    border-radius: 5px;
    box-shadow:5px 5px 10px 2px rgb(133, 133, 133);

    display: grid;

    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    
    background-image: url('./94e917b0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

div.card {
    background-color: white;

    width: 100;
    height: 300px;
    padding: 10px;
    text-align: center;

    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;

    box-shadow:5px 5px 10px 2px rgb(133, 133, 133);

    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr;
}

img {
    width: 60px;
    height: 60px;
}
h3 {
    height: 60px;
}

div.paragraphe {
    font-size: x-small;
    font-weight: bold;
    height: 80px;
}
div.hr_line {
    width: 30px;
    margin: 0 auto;
}

a {
    color: rgb(104, 102, 102);
    text-decoration: none;
    text-transform: uppercase;

    padding: 10px;

    font-size: x-small;
    font-weight: bold;
}

a:visited {
    color: rgb(104, 102, 102);
}

a:hover {
    background-color:rgb(82, 167, 247);
    color: white;
    border: 1 solid skyblue;
    border-radius: 5px;

    box-shadow: 3px 3px 5px 3px lightgrey;
}

@media screen and (max-width: 1270px) {
    div.grid_container {
        height: 1020px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 25px;
        row-gap: 25px;
    }
}

@media screen and (max-width: 980px) {
    div.grid_container {
        height: 1360px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
        row-gap: 25px;
    }
}
