@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body.main {
    font-family: 'Open Sans', sans-serif;
    color: rgb(104, 102, 102);
    padding: 0px;
    margin: 0px;
}


div.grid_container {
    background-color: rgb(221, 255, 255);
    width: 80%;
    height: 680px;
    margin:0 auto;
    padding: 30px;
    border: 1 solid;
    border-radius: 5px;
    box-shadow:5px 5px 10px 2px rgb(133, 133, 133);

    background-image: url('./94e917b0.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;

    grid-template-areas: 
    "nav card1 card2 card3 card4"
    "nav card5 card6 card7 card8"
    ;
    
}

div.card {
    background-color: white;

    width: 100;
    height: 300px;
    padding: 10px;
    text-align: center;

    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;

    box-shadow:5px 5px 10px 2px rgb(133, 133, 133);

    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr;
}

nav {
    background-color: rgb(90, 52, 2);

    width: 100;
    padding: 10px;

    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;

    box-shadow:5px 5px 10px 2px rgb(133, 133, 133);

    display: grid;
    grid-template-rows: repeat(15, 1fr);
    
}

img {
    width: 60px;
    height: 60px;
}
h3 {
    height: 60px;
}

div.paragraphe {
    font-size: x-small;
    font-weight: bold;
    height: 80px;
}
div.hr_line {
    width: 30px;
    margin: 0 auto;
}

a.link_card {
    color: rgb(104, 102, 102);
    text-decoration: none;
    text-transform: uppercase;

    padding: 10px;

    font-size: x-small;
    font-weight: bold;

}
a.nav_link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    font-size: x-small;
    font-weight: bold;

}

a.link_card:visited {
    color: rgb(104, 102, 102);
}

a.nav_link:visited {
    color: white;
}

a.link_card:hover {
    background-color:rgb(82, 167, 247);
    color: white;
    border: 1 solid skyblue;
    border-radius: 5px;

    box-shadow: 3px 3px 5px 3px lightgrey;
}

a.nav_link:hover {
    color:rgb(252, 252, 67);
    font-size: 12px;
    text-shadow: 5px 5px 5px rgb(250, 248, 248);
}

nav.navleft {
    grid-area: nav;
    
}

div.nav_link {
    padding: 3px;
    text-align: center;

    margin: 0 auto;
}


div.card1 {
    grid-area: card1;
}
div.card2 {
    grid-area: card2;
}
div.card3 {
    grid-area: card3;
}
div.card4 {
    grid-area: card4;
}
div.card5 {
    grid-area: card5;
}
div.card6 {
    grid-area: card6;
}
div.card7 {
    grid-area: card7;
}
div.card8 {
    grid-area: card8;
}


@media screen and (max-width: 1270px) {
    div.grid_container {
        height: 1020px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 25px;
        row-gap: 25px;
    }
}

@media screen and (max-width: 980px) {
    div.grid_container {
        height: 1360px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
        row-gap: 25px;
    }
}
